<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <!-- The character set should be utf-8 -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- Enables media queries -->
  <meta name="viewport" content="width=device-width"/>
  <!-- Link to the email's CSS, which will be inlined into the email -->
  <link rel="stylesheet" href="../css/styles.css" inline>
</head>
<body>
    <table class="body">
      <tr>
        <td>
          <center>
            <container class="black">
              <row>
                <columns large="6">

                  <p class="text-right contacts">8 383 <span>312-27-37</span><br />8 913 <span class="wh">747-50-07</span></p>
                  <p class="quality text-center">КАЧЕСТВЕННЫЕ САЙТЫ <br />ДЛЯ ВАШЕГО БИЗНЕСА</p>
                  <p class="get text-center">Закажи продающий сайт — <br /> получи рост прибыли в подарок!</p>
                  
                </columns>

              </row>

            </container>
           <container class="white">
             <row>
               <columns large="6">
                 <center>
                   <button class="large-6" href="http://shanti-media.ru" target="_blank">Перейти на наш сайт</button>
                 </center>
               </columns>
             </row>
           </container>
           <br />
            <container class="white quot">
             <row>
               <columns large="6">
                 <img src="http://nikstorm.ru/img2/two-quotes.png" alt="" />
                 <h1 class="why">Почему наличие качественного сайта <br />так важно для современной компании ? </h1>
                  <p>На протяжении всей жизни, мы часто ищем в интернете <br />различные товары и услуги.  Проанализировав свое <br />поведение на сайте интересующей нас компании мы<br /> поняли, <strong>как много прибыли теряют собственники бизнеса</strong>, <br />просто не позаботившись об удобстве сайта для будущего клиента. </p>
               </columns>
             </row>
           </container>
            <container class="white site">
             <row>
               <columns large="6">
                 <h1>Сайт это не визитная карточка, </h1>
                 <spacer size="50"></spacer> 
                 <h1>Сайт должен приносить <span>ПРИБЫЛЬ!</span></h1>
                 <spacer size="15"></spacer> 
                 <h1><span>Удобство и информативность</span> — главные инструменты <span><u>продающего сайта</u></span></h1>
                 <spacer size="25"></spacer> 
                 <p>Мы очень <strong>ответственно</strong> подходим к созданию сайтов и учитываем все 
                 ключевые моменты: удобство для пользователя, тригеры обеспечивающие <strong>высокую конверсию</strong>, качественная верстка  и использование анимации, для удержания клиента на сайте. Мы знаем как сделать лицо вашей компании более <strong>солидным и вызывающим доверие</strong>.</p>
               </columns>
             </row>
           </container>
           <container class="white works">
             <row>
               <columns large="6">
                 <h3><a href="http://shanti-media.ru" target="_blank">наши работы</a></h3>
               </columns>
              
             </row>
           </container>
           <container class="img">
               <row>
                  <columns large="3">
                 <img src="http://nikstorm.ru/img2/i11.png" alt="" />
               </columns>
               <columns large="3">
                 <img src="http://nikstorm.ru/img2/i22.png" alt="" />
               </columns></row></container>
               <container class="tech">
                 <row>
               <columns large="6">
                 <p><em>Как вы успели заметить технологии развиваются и не ждут, когда мы успеем во всем разобраться, выигрывает тот, <span>кто впереди</span>, конкуренты получают бОльшую часть клиентов  и Вам не понятно, что же вы делаете не так... ? </em> <span><br />В чем Ваша ошибка?</span> </p>
               </columns>
               </row>
             </container>  
             <container class="answers">
               <row>
                 <columns large="6">
                   <p><em>К счастью, на все Ваши накопившиея вопросы, у нас есть ОТВЕТЫ,<br />Мы расскажем Вам:</em></p>
                   
                     <span><i>&mdash;</i> <em>в чем сила продающих сайтов,</em></span><br />
                     <span><i>&mdash;</i> <em>для чего нужна реклама</em></span><br />
                     <span><i>&mdash;</i> <em>как не сливать бюджет на рекламу впустую</em></span><br />
                     <span><i>&mdash;</i> <em>где искать целевую аудиторию <br />и многое другое...</em>
                   
                 </columns>
               </row>
             </container>
             <container class="clients">
               <row>
                 <columns large="6">
                    <h1>УСТАЛИ БОРОТЬСЯ В ПОИСКАХ  КЛИЕНТОВ?</h1>
                 </columns>
               </row>
             </container>
             <container class="clients2">
               <row>
                 <columns large="6">
                   <img large="3" src="http://nikstorm.ru/img2/arrow.png" alt="" />
                   <h1>Доверьте это профессионалам</h1>
                    
                 </columns>
                 
               </row>
               <row>
                 <columns large="6">

                   <center>
                     <button class="button2"  class="text-right" href="http://shanti-media.ru" target="_blank">Перейти на наш сайт</button>
                   </center>
                 </columns>  
               </row>
             </container>
             <spacer size="10"></spacer> 
             <container class="social">
               <row>
                 <columns large="6">
                    <p class="text-center">Ищите нас в соц сетях :)</p>
                 </columns>

               </row>
               <row class="icons">
                 <columns class="large-3 large-offset-4">
                 <a href="https://vk.com/shantimedia" target="_blank"><img src="http://nikstorm.ru/img2/vk.jpg" alt="" /></a>
                 <a href="https://web.telegram.org/#/im?p=@Daria_Kostukova" target="_blank"><img src="http://nikstorm.ru/img2/telegram-logo.jpg" alt="" /></a>
                  <a href="https://www.behance.net/shantimedia" target="_blank"><img src="http://nikstorm.ru/img2/behance-logo-(1).jpg" alt="" /></a>
                 </columns>
                 
               </row>  
             </container>
          </center>
        </td>
      </tr>
    </table>
    
    
</body>
</html>